@font-face {
  font-family: Bodoni;
  font-display: swap;
  src: url(../fonts/Bodoni.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-LightItalic.woff2) format("woff2");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: Floriselscript;
  font-display: swap;
  src: url(../fonts/Floriselscript.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-MediumItalic.woff2) format("woff2");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::after,
*::before {
  display: inline-block;
}

body,
html {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  color: #4f534e;
  line-height: 1;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font-family: Montserrat, sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0)
}

input,
textarea {
  width: 100%
}

label {
  display: inline-block
}

button,
option,
select {
  cursor: pointer
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}

.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}

@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}

.wrapper>main {
  flex: 1 1 auto
}

.wrapper>* {
  min-width: 0
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.ibg--top {
  -o-object-position: top;
  object-position: top
}

.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}

.ibg--left {
  -o-object-position: left;
  object-position: left
}

.ibg--right {
  -o-object-position: right;
  object-position: right
}

.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}

.main-title {
  font-family: Bodoni, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  width: 100%;
  max-width: 300px;
  text-transform: uppercase;
  text-align: center
}

.main-title:not(:last-child) {
  margin-bottom: 32px
}

.section-title-holder {
  display: flex;
  align-items: center;
  justify-content: center
}

.section-title {
  font-family: Floriselscript, sans-serif;
  color: #312514;
  font-size: 64px;
  line-height: 36px;
  position: relative;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center
}

.section-title::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: -150%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 20px;
  width: 1px;
  background-color: #312514
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.socials-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  margin-bottom: auto
}

.socials-icon__link {
  display: block;
  width: 24px;
  height: 24px;
  -webkit-filter: invert(13%) sepia(38%) saturate(5256%) hue-rotate(302deg) brightness(88%) contrast(112%);
  filter: invert(13%) sepia(38%) saturate(5256%) hue-rotate(302deg) brightness(88%) contrast(112%);
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s
}

.socials-icon__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.socials-icon__link:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px)
}

.breadcrumbs {
  padding: 30px 0 24px
}

.breadcrumbs__container {
  display: flex;
  justify-content: center
}

.breadcrumbs__container>span {
  display: flex;
  align-items: center;
  gap: 15px
}

.breadcrumbs__container>span a {
  transition: color .4s
}

.breadcrumbs__container>span a:hover {
  color: #71034b
}

.loading-page-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none
}

.loading-page {
  color: #fff;
  background-color: #71034b;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none
}

.loading-page .image-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5
}

.loading-page__title {
  font-family: Bodoni, sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 25px;
  margin-left: 30px
}

.loading-page__subtitle {
  font-family: Floriselscript, sans-serif;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 10px;
  text-align: center
}

.btn {
  min-width: 170px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  transition: all .4s;
  padding: 10px 15px;
  cursor: pointer
}

.btn--accent {
  color: #71034b;
  border-color: #71034b
}

.btn--accent:hover {
  background-color: #71034b;
  color: #fff
}

.btn--accent.btn--full {
  background-color: #71034b;
  color: #fff
}

.btn--accent.btn--full:hover {
  background-color: #5e043e
}

.btn--white {
  color: #fff;
  border-color: #fff
}

.btn--white:hover {
  background-color: #71034b;
  color: #fff;
  border-color: #71034b
}

a {
  cursor: pointer;
  transition: all .4s
}

a:hover {
  color: #71034b
}

.header {
  position: relative;
  padding: 8px 0
}

.header--box-shadow::after {
  content: "";
  box-shadow: 0 25px 43.35px 7.65px rgba(0, 0, 0, .04);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  pointer-events: none;
  z-index: 5
}

.header__container {
  display: flex;
  align-items: center;
  padding: 0 16px
}

.header__menu {
  background-color: #71034b;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
  width: 100%;
  max-width: 660px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  overflow: auto;
  transition: left .4s;
  padding: 75px 20px 20px
}

.header__menu.active {
  left: 0
}

.header__logo {
  display: flex;
  justify-content: flex-end;
  width: 100%
}

.header__logo a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 0;
  width: 100%;
  max-width: 50px
}

.header__logo img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover
}

.header__contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px
}

.header__contact a {
  color: #fff
}

.header__contact .btn {
  background-color: #fff;
  color: #71034b;
  border-color: #fff
}

.header__contact .btn:hover {
  background-color: #71034b;
  color: #fff
}

.menu-burger {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px
}

.menu-burger::before {
  content: "";
  display: block;
  width: 28px;
  height: 31px;
  background-image: url(../img/icon-menu.png);
  background-size: cover;
  background-repeat: no-repeat
}

.menu-close {
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px
}

.menu-close::after,
.menu-close::before {
  content: "";
  position: absolute;
  background-color: #fff
}

.menu-close::after {
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.menu-close::before {
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 0;
  margin: 0
}

.menu li {
  list-style-type: none
}

.menu a {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
  transition: color .4s
}

.menu a:hover {
  color: #71034b
}

.menu-item.current_page_item a {
  color: #fff
}

.header-logo--desktop {
  display: none
}

.footer {
  position: relative
}

.footer__img-holder {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.footer__container.container {
  max-width: 720px;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
  padding: 80px 16px 60px
}

.footer__address-list {
  position: relative;
  z-index: 5
}

.footer__address-list:not(:last-child) {
  margin-bottom: 24px
}

.footer__address-list ol,
.footer__address-list ul {
  color: #4f534e;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 30px
}

.footer__address-list ol li,
.footer__address-list ul li {
  text-align: center;
  list-style-type: none
}

.footer__address-list ol li:not(:last-child),
.footer__address-list ul li:not(:last-child) {
  margin-bottom: 10px
}

.footer__copyright {
  background-color: #71034b;
  color: #fff;
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  padding: 14px 0
}

.footer .section-title-holder:not(:last-child) {
  margin-bottom: 32px
}

.footer .section-title {
  color: #312514
}

.footer .section-title::before {
  display: none
}

.footer .form-holder {
  position: relative;
  z-index: 5;
  width: 100%
}

.footer .form-holder:not(:last-child) {
  margin-bottom: 50px
}

.footer .form-holder .input-holder:not(:last-child) {
  margin-bottom: 16px
}

.footer .form-holder form>p {
  display: flex;
  align-items: center;
  justify-content: center
}

.footer .form-holder label {
  color: #312514;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}

.footer .form-holder label span {
  flex: 1 0 0
}

.footer .form-holder input {
  border: 1px solid #312514;
  padding: 10px;
  outline: 0
}

.footer .form-holder input:focus {
  outline: 0
}

.footer .form-holder textarea {
  border: 1px solid #312514;
  padding: 10px;
  outline: 0;
  resize: none
}

.footer .form-holder textarea:focus {
  outline: 0
}

.footer .form-holder .wpcf7-submit {
  border: 1px solid #71034b;
  color: #71034b;
  width: 100%;
  max-width: 165px;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 32px
}

.footer a:hover {
  color: #71034b;
  font-size: 14.5px
}

.footer--accent .footer__bg-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.footer--accent .footer__bg-holder img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%
}

.footer--accent .footer__bg-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 3, 75, .8352941176);
  opacity: .84
}

.footer--accent .footer__address-list ol,
.footer--accent .footer__address-list ul {
  color: #fff
}

.footer--accent .form-holder label {
  color: #fff
}

.footer--accent .form-holder .wpcf7-submit {
  border: 1px solid #fff;
  color: #fff
}

.footer--accent .form-holder input {
  border: 1px solid #fff
}

.footer--accent .form-holder textarea {
  border: 1px solid #fff
}

.footer--accent .section-title {
  color: #fff
}

.footer--accent .footer__container {
  justify-content: center
}

.footer--accent .socials-icon__link {
  -webkit-filter: invert(100%) sepia(100%) saturate(0) hue-rotate(243deg) brightness(110%) contrast(102%);
  filter: invert(100%) sepia(100%) saturate(0) hue-rotate(243deg) brightness(110%) contrast(102%)
}

.footer--accent a:hover {
  color: #fff
}

.hero {
  width: 100%;
  height: 80vh;
  min-height: 600px
}

.hero__container {
  width: 100%;
  height: 100%
}

.hero__text-holder {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  max-width: 600px
}

.hero__text-holder:not(:last-child) {
  margin-bottom: 32px
}

.hero__swiper {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  position: relative;
  overflow: visible
}

.hero__slide {
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 32px 0 48px
}

.hero__image-holder {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  z-index: -1
}

.hero__image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.hero__image-holder::before {
  content: "";
  background-color: #000;
  opacity: .47;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px
}

.hero__content:not(:last-child) {
  margin-bottom: 64px
}

.hero__info {
  align-self: flex-end
}

.hero .swiper-pagination-fraction {
  font-family: Bodoni, sans-serif;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  position: absolute;
  right: 24px;
  bottom: 54px;
  left: unset
}

.hero .swiper-pagination-fraction span {
  display: inline-block;
  margin: 0 3px
}

.hero .swiper-pagination-bullets {
  right: unset;
  left: 10px
}

.hero .swiper-pagination-bullet {
  flex-shrink: 0;
  width: 9px;
  height: 9px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  margin: 0 6px !important
}

.hero .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px
}

.hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px
}

.info-hero {
  background-color: #71034b;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 25px 20px 25px 20px
}

.info-hero__subtitle {
  color: #fff;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis
}

.info-hero__subtitle:not(:last-child) {
  margin-bottom: 12px
}

.info-hero__title {
  font-family: Bodoni, sans-serif;
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis
}

.info-hero__title:not(:last-child) {
  margin-bottom: 20px
}

.info-hero__text-holder {
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis
}

.info-hero__col-left {
  width: 100%
}

.info-hero__col-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start
}

.info-hero__link {
  color: #fff;
  font-size: 12px;
  line-height: 22px
}

.info-hero__link:hover {
  color: #fff
}

.services {
  padding: 80px 0 40px
}

.services__container.container {
  display: flex;
  flex-direction: column;
  row-gap: 32px
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px
}

.services__item {
  background-color: #191919;
  position: relative
}

.services__item::before {
  content: "";
  background-color: #000;
  position: absolute;
  width: calc(100% - 44px);
  height: calc(100% - 44px);
  opacity: .5;
  z-index: 1;
  transition: width .4s, height .4s
}

.services__item:hover::before {
  width: calc(100% - 44px);
  height: calc(100% - 44px)
}

.services__item:hover .item-services__link {
  color: #fff;
  opacity: 1;
  visibility: visible
}

.services__item--additional {
  background-color: #71034b
}

.services__item--additional::before {
  display: none
}

.item-services {
  width: calc(25% - 2px);
  min-width: 288px;
  flex: 1 0 0;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px
}

.item-services__title {
  color: #fff;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
  letter-spacing: 3.2px
}

.item-services__title:not(:last-child) {
  margin-bottom: 24px
}

.item-services__link {
  color: #fff;
  position: relative;
  z-index: 5;
  opacity: 1;
  visibility: visible;
  transition: visibility .4s, opacity .4s
}

.item-services__text-holder {
  color: #fff;
  line-height: 22px;
  position: relative;
  z-index: 5
}

.item-services__text-holder ol,
.item-services__text-holder ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px
}

.item-services__text-holder ol li,
.item-services__text-holder ul li {
  list-style-type: none
}

.item-services__image-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.item-services__image-holder img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.offer {
  padding: 40px 0
}

.offer__container.container {
  position: relative
}

.offer__container.container::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: calc(-100% + 16px);
  top: 0;
  z-index: 5
}

.offer__swiper {
  overflow: visible;
  align-items: stretch
}

.offer-slide {
  width: 100%;
  max-width: 403px;
  height: auto;
  position: relative
}

.offer-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #36251d;
  opacity: .5;
  transition: opacity .5s
}

.offer-slide.swiper-slide-active::before {
  opacity: 0
}

.offer-slide.swiper-slide-active+.swiper-slide-next:last-child::before {
  opacity: 0
}

.offer .section-title-holder:not(:last-child) {
  margin-bottom: 30px
}

.offer .tab-item {
  display: none
}

.offer .tab-item.active {
  display: block;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s
}

.offer .tab-item .col-left {
  width: 100%;
  position: relative;
  z-index: 10
}

.offer .tab-item .col-left:not(:last-child) {
  margin-bottom: 32px
}

.offer .tab-item .col-right {
  position: relative;
  min-width: 0
}

.offer .tab-item .col-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 5
}

.offer .tab-item .image-holder {
  height: 400px
}

.offer .tab-item .image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.offer .tab-item__text-holder {
  line-height: 22px
}

.offer .tab-item__text-holder:not(:last-child) {
  margin-bottom: 30px;
}

.offer .tab-item__text-holder p {
  margin: 0
}

.offer .tab-item__text-holder p:not(:last-child) {
  margin-bottom: 30px
}

.offer .tab-item__text-holder blockquote {
  font-style: italic;
  font-weight: 500;
  line-height: 22px
}

.offer .tab-item__text-holder blockquote:not(:last-child) {
  margin-bottom: 30px
}

.offer .tabs-nav {
  position: relative;
  width: 100%;
  border-radius: 25px;
  padding: 0;
  margin: 0 auto
}

.offer .tabs-nav:not(:last-child) {
  margin-bottom: 32px
}

.offer .tabs-nav li {
  list-style-type: none
}

.offer .nav-item {
  color: #4f534e;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  padding: 15px 0;
  transition: color .4s
}

.offer .nav-item.active {
  color: #71034b
}

.offer .active-line {
  display: none
}

.advantages {
  padding: 80px 0
}

.advantages__container.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px
}

.advantages__items {
  display: flex;
  flex-wrap: wrap
}

.advantages__item {
  width: 100%;
  position: relative;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.advantages__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 50%;
  width: calc(100% - 32px);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #5d493e
}

.advantages__item:nth-child(3n)::after {
  display: none
}

.item-advantages__icon-holder:not(:last-child) {
  margin-bottom: 20px
}

.item-advantages__title {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center
}

.item-advantages__title:not(:last-child) {
  margin-bottom: 16px
}

.item-advantages__text-holder {
  color: #5d493e;
  line-height: 22px;
  text-align: center
}

.about {
  padding: 75px 0 35px
}

.about__container.container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px
}

.about__left-col {
  flex: 1 0 0;
  min-width: 288px
}

.about__title:not(:last-child) {
  margin-bottom: 16px
}

.about__title::before {
  display: none
}

.about__text-holder {
  font-size: 15px;
  line-height: 22px
}

.about__text-holder:not(:last-child) {
  margin-bottom: 16px
}

.about__text-holder p {
  margin: 0
}

.about__text-holder p:not(:last-child) {
  margin-bottom: 16px
}

.about__text-holder blockquote {
  font-weight: 500;
  font-style: italic;
  margin: 0
}

.about__text-holder blockquote:not(:last-child) {
  margin-bottom: 16px
}

.about__right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 0;
  min-width: 288px
}

.about__image-holder {
  height: 500px
}

.about__image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.reviews {
  padding: 50px 0
}

.reviews__container.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px
}

.reviews__title::before {
  left: 66%
}

.reviews__items {
  display: flex;
  flex-wrap: wrap;
  gap: 3px
}

.item-reviews {
  width: 100%;
  border: 1px solid #f9f3ee;
  padding: 16px
}

.item-reviews:hover .item-reviews__date,
.item-reviews:hover .item-reviews__name,
.item-reviews:hover .read-more {
  color: #71034b
}

.item-reviews__name {
  font-family: Bodoni, sans-serif;
  color: #987e6c;
  font-size: 20px;
  transition: color .4s
}

.item-reviews__name:not(:last-child) {
  margin-bottom: 5px
}

.item-reviews__date {
  font-family: Bodoni, sans-serif;
  color: #987e6c;
  font-size: 14px;
  line-height: 24px;
  transition: color .4s
}

.item-reviews__date:not(:last-child) {
  margin-bottom: 12px
}

.item-reviews__spoiler {
  color: #5d493e;
  line-height: 22px
}

.item-reviews__spoiler p {
  margin: 0
}

.item-reviews__spoiler p:not(:last-child) {
  margin-bottom: 16px
}

.item-reviews .read-more {
  color: #5d493e;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-style: italic;
  transition: color .4s
}

.hidden-text {
  font-size: 14px;
  overflow: hidden
}

.hidden-text:not(:last-child) {
  margin-bottom: 16px
}

.gallery {
  padding: 80px 0
}

.gallery__container.container {
  max-width: 1920px;
  padding: 0
}

.gallery .section-title-holder:not(:last-child) {
  margin-bottom: 60px
}

.gallery__swiper {
  overflow: visible
}

.gallery .swiper-pagination {
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center
}

.gallery .swiper-pagination-bullet {
  border: 2px solid #79655a;
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1
}

.gallery .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background-color: #f6f4f3;
  border-color: transparent
}

.slide-gallery {
  display: flex;
  flex-wrap: wrap
}

.slide-gallery__box {
  width: 100%;
  position: relative;
  height: 300px
}

.slide-gallery__box .btn {
  margin-left: auto;
  margin-top: auto
}

.slide-gallery__box:hover .slide-gallery__image-holder::before {
  opacity: .46
}

.slide-gallery__box:hover .slide-gallery__content {
  opacity: 1;
  visibility: visible
}

.slide-gallery__image-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.slide-gallery__image-holder img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.slide-gallery__image-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .46
}

.slide-gallery__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  position: relative;
  z-index: 5;
  padding: 16px
}

.slide-gallery__text-holder {
  color: #fff;
  width: 100%;
  max-width: 360px;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis
}

.slide-gallery__text-holder:not(:last-child) {
  margin-bottom: 16px
}

.slide-gallery__titles-holder {
  position: relative
}

.slide-gallery__titles-holder::after {
  content: "";
  background-color: #fff;
  width: 55px;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0
}

.slide-gallery__title {
  font-family: Bodoni, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: right
}

.slide-gallery__title:not(:last-child) {
  margin-bottom: 16px
}

.slide-gallery__subtitle {
  font-family: Floriselscript, sans-serif;
  color: #fff;
  font-size: 42px;
  text-align: right
}

.vertical-tabs {
  padding: 60px 0
}

.vertical-tabs__container.container {
  display: flex;
  flex-direction: column;
  row-gap: 32px
}

.vertical-tabs__top {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto
}

.vertical-tabs__subtitle {
  color: #312514;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.2px
}

.vertical-tabs__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.vertical-tabs__title::before {
  left: 66%
}

.vertical-tabs__text-holder {
  color: #5d493e;
  line-height: 22px;
  text-align: center
}

.vertical-tabs__text-holder p {
  margin: 0
}

.vertical-tabs__text-holder p:not(:last-child) {
  margin-bottom: 16px
}

.vertical-tabs__text-holder:not(:last-child) {
  margin-bottom: 16px
}

.vertical-tabs__content {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 48px;
  align-items: flex-start
}

.vertical-tabs .tabs-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 0;
  margin: 0
}

.vertical-tabs .tabs-nav li {
  list-style-type: none
}

.vertical-tabs .nav-item {
  color: #312514;
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 600;
  position: relative;
  cursor: pointer
}

.vertical-tabs .nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 1px;
  background-color: #312514
}

.vertical-tabs .nav-item.active {
  color: #71034b
}

.vertical-tabs .nav-item.active::before {
  background-color: #71034b
}

.vertical-tabs .tab-item {
  display: none
}

.vertical-tabs .tab-item.active {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 16px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s
}


.vertical-tabs .tab-item__text-holder {
  font-size: 15px;
  line-height: 22px
}

.vertical-tabs .tab-item__text-holder p {
  margin: 0
}

.vertical-tabs .tab-item__text-holder h2,
.vertical-tabs .tab-item__text-holder h3,
.vertical-tabs .tab-item__text-holder h4,
.vertical-tabs .tab-item__text-holder h5,
.vertical-tabs .tab-item__text-holder h6 {
  font-weight: 700;
}

.vertical-tabs .tab-item__text-holder h2:not(:last-child),
.vertical-tabs .tab-item__text-holder h3:not(:last-child),
.vertical-tabs .tab-item__text-holder h4:not(:last-child),
.vertical-tabs .tab-item__text-holder h5:not(:last-child),
.vertical-tabs .tab-item__text-holder h6:not(:last-child) {
  margin-bottom: 16px;
}

.vertical-tabs .tab-item__text-holder ul li {
  list-style-type: disc;
}

.vertical-tabs .tab-item__text-holder ul,
.vertical-tabs .tab-item__text-holder ol {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 20px;
}

.vertical-tabs .tab-item__text-holder ul:not(:last-child),
.vertical-tabs .tab-item__text-holder ol:not(:last-child) {
  margin-bottom: 16px;
}

.vertical-tabs .tab-item__text-holder p:not(:last-child) {
  margin-bottom: 16px
}

.vertical-tabs .tab-item__text-holder:not(:last-child) {
  margin-bottom: 16px
}

.vertical-tabs .tab-item .image-holder {
  width: 100%;
  height: 350px
}

.vertical-tabs .tab-item .image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.services-events {
  background-color: #f7f1f5;
  padding: 60px 0 42px
}

.services-events__container.container {
  display: flex;
  flex-direction: column;
  row-gap: 32px
}

.services-events__head .section-title-holder {
  margin-bottom: 24px;
}

.services-events__text-holder {
  line-height: 22px;
  text-align: center;
  width: 100%;
  max-width: 790px;
  margin: 0 auto
}

.services-events__content {
  display: flex;
  flex-direction: column;
  gap: 32px
}

.services-events__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600
}

.services-events__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.services-events .section-title::before {
  display: none
}

.services-events .col-left .text-holder,
.services-events .col-right .text-holder {
  line-height: 22px
}

.services-events .col-left .text-holder p,
.services-events .col-right .text-holder p {
  margin: 0
}

.services-events .col-left .text-holder:not(:last-child),
.services-events .col-right .text-holder:not(:last-child) {
  margin-bottom: 32px
}

.services-events .col-left .image-holder,
.services-events .col-right .image-holder {
  height: 400px
}

.services-events .col-left .image-holder img,
.services-events .col-right .image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.services-events .col-left .image-holder:not(:last-child),
.services-events .col-right .image-holder:not(:last-child) {
  margin-bottom: 24px
}

.services-events .btn {
  align-self: center
}

.two-columns {
  background-color: #cfc9c4;
  padding: 60px 0
}

.two-columns__container.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center
}

.two-columns__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase
}

.two-columns__text-holder {
  line-height: 22px
}

.two-columns .col-left {
  display: flex;
  flex-direction: column;
  row-gap: 15px
}

.two-columns .btn {
  align-self: center
}

.two-columns .image-holder img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.frame {
  background-color: #71034b;
  padding: 60px 0
}

.box-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  position: relative;
  padding: 50px 16px 35px
}

.box-frame__title {
  color: #fff;
  font-family: Floriselscript, sans-serif;
  font-size: 64px;
  line-height: 1
}

.box-frame__subtitle {
  color: #fff;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 3.2px
}

.box-frame__subtitle:not(:last-child) {
  margin-bottom: 35px
}

.box-frame__text-holder {
  color: #fff;
  line-height: 22px;
  width: 100%;
  max-width: 660px
}

.box-frame__text-holder:not(:last-child) {
  margin-bottom: 50px
}

.box-frame .btn:hover {
  background-color: #fff;
  color: #71034b
}

.tabs-events {
  padding: 40px 0
}

.tabs-events__container.container {
  display: flex;
  flex-direction: column;
  row-gap: 32px
}

.tabs-events__content {
  display: flex;
  flex-direction: column;
  row-gap: 32px
}

.tabs-events .tabs-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: space-around
}

.tabs-events .nav-item {
  color: #5d493e;
  text-transform: uppercase;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  transition: color .4s
}

.tabs-events .nav-item.active {
  color: #71034b;
  font-weight: 600
}

.tabs-events .tab-item {
  display: none
}

.tabs-events .tab-item.active {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s
}

.tabs-events .tab-item.active .tab-item__box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}


.tabs-events .tab-item .image-holder {
  width: calc(25% - 3px);
  max-height: 500px;
  min-width: 228px;
  flex: 1 0 0;
  position: relative
}

.tabs-events .tab-item .image-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191919;
  opacity: .4;
  visibility: visible;
  transition: opacity .4s, visibility .4s
}

.tabs-events .tab-item .image-holder:hover::before {
  opacity: 0;
  visibility: hidden
}

.tabs-events .tab-item .image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.tabs-events .btn {
  align-self: center
}

.tabs-events .tab-item__text {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 32px;
  line-height: 1.3;
}

.team {
  background-color: #f9f3ee;
  padding: 60px 0
}

.team__container.container {
  display: flex;
  flex-direction: column;
  row-gap: 100px
}

.team__content {
  display: flex;
  flex-wrap: wrap;
  gap: 100px
}

.team__col-left {
  width: 100%
}

.team__col-right {
  width: 100%
}

.team__items {
  display: flex;
  flex-wrap: wrap;
  gap: 110px
}

.card-team {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 17px 35px 0 rgba(72, 12, 56, .11);
  padding: 40px
}

.card-team__name {
  font-family: Bodoni, sans-serif;
  color: #71034b;
  font-size: 24px;
  text-align: center
}

.card-team__name:not(:last-child) {
  margin-bottom: 12px
}

.card-team__position {
  font-family: Bodoni, sans-serif;
  color: #71034b;
  text-align: center;
  font-size: 14px
}

.card-team__position:not(:last-child) {
  margin-bottom: 40px
}

.card-team__text-holder {
  color: #5d493e;
  text-align: center;
  position: relative;
  line-height: 22px
}

.card-team__text-holder::before {
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #5d493e
}

.card-team__text-holder:not(:last-child) {
  margin-bottom: 50px
}

.card-team__list {
  color: #5d493e;
  text-align: center
}

.card-team__list li:not(:last-child) {
  margin-bottom: 10px
}

.card-team__list a {
  color: inherit;
  transition: color .4s
}

.card-team__list a:hover {
  color: #71034b
}

.item-team {
  flex: 1 0 0;
  min-width: 288px;
  min-height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 12px;
  border: 1px solid #fff;
  position: relative;
  padding: 0 0 30px 0
}

.item-team__image-holder {
  position: absolute;
  bottom: 100px;
  left: 56%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.item-team__name {
  font-family: Bodoni, sans-serif;
  color: #987e6c;
  font-size: 24px;
  text-align: center
}

.item-team__position {
  font-family: Bodoni, sans-serif;
  color: #987e6c;
  font-size: 14px;
  text-align: center
}

.history {
  background-color: #fff;
  padding-bottom: 95px
}

.history__socials:not(:last-child) {
  margin-bottom: 75px
}

.history__socials .socials-icon__link {
  -webkit-filter: invert(27%) sepia(18%) saturate(716%) hue-rotate(337deg) brightness(93%) contrast(85%);
  filter: invert(27%) sepia(18%) saturate(716%) hue-rotate(337deg) brightness(93%) contrast(85%)
}

.history__socials .socials-icon__link:hover {
  -webkit-filter: invert(13%) sepia(38%) saturate(5256%) hue-rotate(302deg) brightness(88%) contrast(112%);
  filter: invert(13%) sepia(38%) saturate(5256%) hue-rotate(302deg) brightness(88%) contrast(112%);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px)
}

.history__two-column {
  -webkit-columns: 1;
  -moz-columns: 1;
  columns: 1;
  -webkit-column-gap: 64px;
  -moz-column-gap: 64px;
  column-gap: 64px;
  row-gap: 30px;
  color: #5d493e;
  line-height: 22px
}

.history__two-column:not(:last-child) {
  margin-bottom: 64px
}

.history__two-column p {
  margin: 0
}

.history__two-column p:not(:last-child) {
  margin-bottom: 15px
}

.history__two-column blockquote {
  margin: 0;
  line-height: 22px;
  font-style: italic;
  font-weight: 500
}

.history__two-column blockquote:not(:last-child) {
  margin-bottom: 15px
}

.history .section-title-holder {
  margin-top: 45px
}

.history .section-title-holder:not(:last-child) {
  margin-bottom: 50px
}

.history .section-title::before {
  display: none
}

.list-history {
  display: flex;
  flex-direction: column
}

.list-history__row {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px
}

.list-history__row:not(:last-child) .list-history__right-col {
  border-bottom: 1px solid #312514;
  padding-bottom: 25px;
  margin-bottom: 45px
}

.list-history__left-col h2,
.list-history__left-col h2,
.list-history__left-col h3,
.list-history__left-col h4,
.list-history__left-col h5,
.list-history__left-col h6 {
  color: #312514;
  font-family: Floriselscript, sans-serif;
  font-size: 64px;
  line-height: 48px;
  font-weight: 400
}

.list-history__right-col {
  line-height: 22px
}

.list-history__right-col p {
  margin: 0
}

.list-history__right-col p:not(:last-child) {
  margin-bottom: 15px
}

.main-gallery__socials:not(:last-child) {
  margin-bottom: 80px
}

.main-gallery__socials .socials-icon__link {
  -webkit-filter: invert(27%) sepia(18%) saturate(716%) hue-rotate(337deg) brightness(93%) contrast(85%);
  filter: invert(27%) sepia(18%) saturate(716%) hue-rotate(337deg) brightness(93%) contrast(85%)
}

.main-gallery__socials .socials-icon__link:hover {
  -webkit-filter: invert(13%) sepia(38%) saturate(5256%) hue-rotate(302deg) brightness(88%) contrast(112%);
  filter: invert(13%) sepia(38%) saturate(5256%) hue-rotate(302deg) brightness(88%) contrast(112%);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px)
}

.main-gallery .section-title-holder:not(:last-child) {
  margin-bottom: 60px
}

.main-gallery .section-title::before {
  display: none
}

.main-gallery__content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw
}

.main-gallery__content .f-thumbs.is-horizontal .f-thumbs__track {
  padding: 0
}

.main-gallery__content .f-thumbs__slide {
  margin-right: 2px !important;
  width: 150px;
  height: 150px
}

.main-gallery__content .f-thumbs__slide img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover !important;
  object-fit: cover !important
}

.main-gallery__content .f-thumbs__slide.is-nav-selected .f-thumbs__slide__button::before {
  opacity: 0
}

.main-gallery__content .f-thumbs__slide__button {
  width: 100%;
  opacity: 1
}

.main-gallery__content .f-thumbs__slide__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  transition: opacity .5s;
  z-index: 5
}

.main-gallery__content .f-carousel__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top
}

.main-gallery__content .carousel-caption {
  color: #5d493e;
  font-family: Bodoni, sans-serif;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  order: 2;
  margin-top: 45px
}

.main-gallery__content .carousel-caption::before {
  content: "";
  background-color: #312514;
  display: block;
  position: absolute;
  left: 50%;
  top: -20px;
  height: 20px;
  width: 1px
}

.main-gallery__content .myCarousel {
  order: 3
}

.main-gallery__content .f-carousel__nav svg {
  width: 40px;
  height: 40px
}

.main-gallery__content .f-carousel__nav svg path {
  color: #fff
}

@media (min-width:400px) {
  .about__left-col {
    min-width: 350px
  }

  .about__right-col {
    min-width: 350px
  }
}

@media (min-width:479.98px) {
  .item-reviews {
    width: calc(50% - 3px)
  }
}

@media (min-width:676px) {
  .advantages__item {
    width: 50%;
    padding: 32px
  }

  .advantages__item::before {
    width: calc(100% - 64px)
  }
}

@media (min-width:767.98px) {
  .loading-page__title {
    font-size: 55px;
    line-height: 72px;
    letter-spacing: 60px;
    margin-left: 65px
  }

  .loading-page__subtitle {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 15px
  }

  .item-reviews {
    width: calc(33.333% - 3px)
  }

  .slide-gallery__box {
    width: 50%;
    height: 400px
  }

  .slide-gallery__content {
    padding: 24px
  }

  .vertical-tabs .tabs-nav {
    max-width: 300px;
    flex: none
  }

  .vertical-tabs .tabs-content {
    width: calc(100% - 350px);
    flex: none
  }

  .team__content {
    flex-wrap: nowrap;
    gap: 45px
  }

  .team__col-left {
    max-width: 315px
  }

  .team__col-right {
    width: calc(100% - 315px)
  }

  .card-team {
    max-width: 315px
  }

  .history__two-column {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2
  }

  .main-gallery__content .f-thumbs__slide {
    width: 238px;
    height: 208px
  }

  .main-gallery__content .f-carousel__slide {
    height: 500px
  }

  .main-gallery__content .carousel-caption {
    font-size: 22px
  }
}

@media (min-width:768px) {
  .hero .swiper-pagination-bullets {
    width: 16px !important
  }

  .hero .swiper-pagination-bullet {
    margin: 10px 0 !important
  }
}

@media (min-width:991.98px) {
  .main-gallery__content .f-carousel__slide {
    height: 600px
  }
}

@media (min-width:1024px) {
  .advantages__item {
    width: 33.333%;
    padding: 25px 60px
  }

  .advantages__item::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #5d493e
  }

  .advantages__item::before {
    width: calc(100% - 160px)
  }

  .advantages__item:not(:nth-last-child(n+4))::before {
    display: none
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 1310px;
    padding: 0 16px
  }

  .main-title {
    font-size: 64px;
    line-height: 64px;
    max-width: 600px
  }

  .main-title:not(:last-child) {
    margin-bottom: 40px
  }

  .btn {
    padding: 22px 17px
  }

  .header--box-shadow::after {
    height: 126px
  }

  .header__menu {
    background-color: #fff;
    position: static;
    overflow: unset;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 0
  }

  .header__logo {
    width: 33.333%;
    justify-content: center
  }

  .header__logo a {
    justify-content: center;
    max-width: 100%
  }

  .header__contact {
    width: 33.333%;
    flex-direction: row
  }

  .header__contact a {
    color: #312514;
    flex-direction: row
  }

  .header__contact .btn {
    color: #71034b;
    border-color: #71034b;
    background-color: rgba(0, 0, 0, 0)
  }

  .menu-close {
    display: none
  }

  .menu {
    width: 33.333%;
    gap: 15px;
    flex-direction: row
  }

  .menu a {
    color: #5d493e;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap
  }

  .menu-item.current_page_item a {
    color: #71034b;
    position: static
  }

  .header-logo--desktop {
    display: flex;
    align-items: center;
    justify-content: center
  }

  .header-logo--mobile {
    display: none
  }

  .menu-burger {
    display: none
  }

  .footer {
    min-height: 890px
  }

  .footer__img-holder {
    top: 60px
  }

  .footer__container.container {
    padding: 150px 0 80px
  }

  .footer .form-holder:not(:last-child) {
    margin-bottom: 100px
  }

  .footer .form-holder label span {
    flex: 0 0 615px
  }

  .footer .form-holder .wpcf7-submit {
    margin-top: 70px;
    padding: 18.5px 20px 18.5px 20px
  }

  .hero {
    height: 100vh;
    min-height: 800px
  }

  .hero__text-holder:not(:last-child) {
    margin-bottom: 40px
  }

  .hero__slide {
    padding: 60px 0
  }

  .hero__content {
    padding: 0
  }

  .hero__content:not(:last-child) {
    margin-bottom: 24px
  }

  .hero .swiper-pagination-fraction {
    font-size: 36px;
    right: 60px;
    bottom: 250px
  }

  .hero .swiper-pagination-bullets {
    left: 40px
  }

  .info-hero {
    flex-direction: row;
    max-width: 590px;
    padding: 57px 50px
  }

  .info-hero__subtitle:not(:last-child) {
    margin-bottom: 19px
  }

  .info-hero__title:not(:last-child) {
    margin-bottom: 40px
  }

  .info-hero__title {
    font-size: 36px
  }

  .info-hero__text-holder {
    -webkit-line-clamp: 3
  }

  .info-hero__col-left {
    max-width: 330px
  }

  .info-hero__col-right {
    width: calc(100% - 330px);
    align-items: flex-end
  }

  .services {
    padding: 80px 0
  }

  .services__items {
    -webkit-column-gap: 2px;
    -moz-column-gap: 2px;
    column-gap: 2px;
    row-gap: 1px
  }

  .services__item::before {
    width: 100%;
    height: 100%
  }

  .item-services__title:not(:last-child) {
    margin-bottom: 60px
  }

  .item-services__link {
    opacity: 0;
    visibility: hidden
  }

  .offer {
    padding: 80px 0
  }

  .offer .tab-item.active {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px
  }

  .offer .tab-item .col-left:not(:last-child) {
    margin-bottom: 0
  }

  .offer .tab-item .col-left {
    max-width: 555px
  }

  .offer .tab-item .image-holder {
    height: 100%
  }

  .offer .tabs-nav::before {
    content: "";
    background-color: #4f534e;
    width: 100vw;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -50vw
  }

  .offer .tabs-nav:not(:last-child) {
    margin-bottom: 42px
  }

  .offer .tabs-nav {
    display: flex;
    align-items: center;
    max-width: 1330px
  }

  .offer .nav-item {
    flex: 1 0 25%;
    padding: 30px 0
  }

  .offer .active-line {
    background-color: #71034b;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transition: all .4s
  }

  .offer .active-line::after,
  .offer .active-line::before {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 30px;
    height: 1px
  }

  .offer .active-line::before {
    left: 0
  }

  .offer .active-line::after {
    content: "";
    right: 0
  }

  .item-advantages__icon-holder:not(:last-child) {
    margin-bottom: 30px
  }

  .item-advantages__title:not(:last-child) {
    margin-bottom: 24px
  }

  .about {
    padding: 75px 0
  }

  .about__container.container {
    gap: 50px
  }

  .about__left-col {
    width: calc(100% - 634px)
  }

  .about__right-col {
    width: 100%;
    max-width: 634px
  }

  .reviews {
    padding: 80px 0
  }

  .item-reviews {
    width: calc(25% - 3px)
  }

  .gallery .swiper-pagination {
    bottom: -64px
  }

  .gallery .swiper-pagination-bullet {
    width: 20px;
    height: 21px
  }

  .gallery .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    height: 30px
  }

  .slide-gallery__box {
    height: 500px
  }

  .slide-gallery__image-holder::before {
    opacity: 0;
    transition: opacity .4s
  }

  .slide-gallery__content {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    padding: 75px 55px
  }

  .slide-gallery__text-holder {
    -webkit-line-clamp: 5
  }

  .slide-gallery__text-holder:not(:last-child) {
    margin-bottom: 24px
  }

  .slide-gallery__title {
    font-size: 40px;
    line-height: 52px
  }

  .slide-gallery__title:not(:last-child) {
    margin-bottom: 20px
  }

  .slide-gallery__subtitle {
    font-size: 52px
  }

  .vertical-tabs {
    padding: 120px 0
  }

  .vertical-tabs__content {
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px
  }

  .vertical-tabs .tabs-nav {
    row-gap: 25px
  }

  .vertical-tabs .nav-item::before {
    bottom: -12.5px
  }

  .services-events {
    padding: 80px 0
  }

  .services-events__content {
    flex-direction: row;
    gap: 50px
  }

  .services-events__subtitle:not(:last-child) {
    margin-bottom: 30px
  }

  .services-events .col-left .text-holder {
    padding: 0 25px
  }

  .two-columns {
    padding: 120px 0
  }

  .two-columns__container.container {
    flex-direction: row;
    gap: 110px;
    text-align: left
  }

  .two-columns .col-left {
    row-gap: 30px;
    padding-top: 50px
  }

  .two-columns .btn {
    align-self: flex-start
  }

  .frame {
    padding: 180px 0 140px
  }

  .box-frame__title {
    font-size: 100px;
    line-height: 22px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .box-frame__title::before {
    content: "";
    position: absolute;
    top: -62px;
    left: -29px;
    width: 400px;
    height: 100px;
    background-color: #71034b;
    z-index: -1
  }

  .tabs-events {
    padding: 80px 0
  }

  .tabs-events__container.container {
    row-gap: 70px
  }

  .tabs-events__content {
    row-gap: 64px
  }

  .tabs-events .tab-item.active {
    gap: 4px
  }

  .team {
    padding: 120px 0
  }

  .team__content {
    -webkit-column-gap: 110px;
    -moz-column-gap: 110px;
    column-gap: 110px
  }

  .item-team {
    width: 100%;
    max-width: 315px;
    flex: none;
    min-width: auto
  }

  .history {
    padding-bottom: 190px
  }

  .history__two-column:not(:last-child) {
    margin-bottom: 138px
  }

  .history__two-column p:not(:last-child) {
    margin-bottom: 30px
  }

  .history__two-column blockquote:not(:last-child) {
    margin-bottom: 30px
  }

  .list-history__row {
    flex-direction: row;
    gap: 64px
  }

  .list-history__row:not(:last-child) .list-history__right-col {
    padding-bottom: 55px;
    margin-bottom: 55px
  }

  .list-history__left-col h2,
  .list-history__left-col h2,
  .list-history__left-col h3,
  .list-history__left-col h4,
  .list-history__left-col h5,
  .list-history__left-col h6 {
    font-size: 90px;
    line-height: 72px
  }

  .list-history__right-col p:not(:last-child) {
    margin-bottom: 30px
  }

  .main-gallery .section-title-holder:not(:last-child) {
    margin-bottom: 85px
  }
}

@media (min-width:1280px)and (min-height:800px) {
  .hero {
    min-height: 1000px
  }
}

@media (min-width:1280px)and (min-height:850px) {
  .services {
    height: 100vh;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center
  }

  .offer {
    height: 100vh;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center
  }

  .advantages {
    height: 100vh;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center
  }

  .about {
    height: 100vh;
    min-height: 900px
  }

  .reviews {
    height: 100vh;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center
  }

  .vertical-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
}

@media (max-width:1279px) {
  .menu-item.current_page_item a {
    position: relative
  }

  .menu-item.current_page_item a::before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 0
  }
}

@media (max-width:1023px) {
  .advantages__item:not(:nth-last-child(n+3))::before {
    display: none
  }
}

@media (max-width:767.98px) {
  .loading-page .image-holder img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
}

@media (max-width:767px) {
  .hero .swiper-pagination-bullets {
    bottom: 16px !important
  }
}

@media (max-width:675px) {
  .advantages__item:not(:nth-last-child(n+3))::before {
    display: block
  }
}